.env
.env.*
.DS_Store
.idea/
.vscode/
*.log
*.tmp
*.swp
.bufcache/
.vite/
backend/gen/
backend/tmp/
bin/
coverage.out
dist/
frontend/dist/
frontend/node_modules/
frontend/src/gen/
node_modules/
pkg/
.volumes/
